<div ng-controller="BuildingCtrl" ng-cloak>
  <div ng-repeat="buildingId in buildings">
    <div>
      <div class="jumbotron-surfy" style="background-color: {{bgColor[buildingId]}}"><h2>{{building.name}}</h2></div>
      <ul class="nav nav-pills" role="tablist" style="border:1px solid {{bgColor[buildingId]}}" >
        <%= render '/common/tabs_information' %>
        <li><a data-toggle="tab" ng-click="tabHeaderClick('floors', buildingId);" href="#tab-floors-{{buildingId}}">Accès direct aux étages</a></li>
        <%= render '/common/tabs_common' %>
      </ul>
      <div class="tab-content tab-content-main" style="border-color:{{bgColor[buildingId]}}">
        
        <div id="tab-information-{{buildingId}}" class="tab-pane active">
          
          <table class="box-details">
            <tr>
              <th>Nombre de pièces</th>
              <td>{{getNumberOfRooms()}}</td>
            </tr>
            <tr>
              <th>Nombre de personnes</th>
              <td>{{getNumberOfPeople()}}</td>
            </tr>
            <tr>
              <th>Nombre de places libres</th>
              <td>{{getNumberOfFreeDesk()}}</td>
            </tr>
            <tr>
              <th>Surface</th>
              <td>{{getTotalArea()}} m&#178;</td>
            </tr>
          </table>
        </div>
        
        <div id="tab-floors-{{buildingId}}"  class="tab-pane">
          <%= render '/buildings/display_floors' %>
        </div>
        <%= render '/common/tabs_common.content' %>
      </div>
      <%= render '/floors/map_editor' %>
      <%= render '/buildings/options' %>
      <%= render '/floors/room' %>
    </div>
  </div>
</div>
