<div keepscrolltop class="home" ng-controller="FloorController">
  <div>
    <div class="jumbotron-surfy animated fadeIn" style="background-color: {{bgColor[buildingId]}}" ng-if="floorJson !== undefined">
      <h2><a href="{{floorJson.building.url}}">{{floorJson.building.name}}</a></h2>
      <h2>> <a href="{{floorJson.url}}">{{floorJson.name}}</a></h2>
    </div>
    <div ng-repeat="buildingId in buildings">
      <ul class="nav nav-pills" role="tablist" style="border:1px solid {{bgColor[buildingId]}}" >
        <%= render '/common/tabs_information' %>
        <%= render '/common/tabs_common' %>
      </ul>
      <div class="tab-content tab-content-main" style="border-color:{{bgColor[buildingId]}}">
        <div id="tab-information-{{buildingId}}" class="tab-pane active">
          <%= render '/floors/information' %>
        </div>
        <%= render '/common/tabs_common.content' %>
      </div>
      <%= render '/floors/map_editor' %>
    </div>    
  </div>
</div>
