<script>
 var G_RootJson = <%=@json.html_safe%>
 var G_Mode = '<%= @G_Mode %>'
 var G_Room = <%=@G_Room.html_safe%>

</script>
<div >

  <div class="jumbotron" ng-controller="FloorHeaderCtrl">
  <h1 >{{floorJson.name}}</h1>
  <p ng-if="roomJson.id">{{roomJson.name}}</p>
  </div>
  
  
  <%=  render 'organization_filter' %> 
  <%=  render 'room_type_filter' %> 
  
  <div class="home" ng-controller="GeoPCtrl">

    <%=  render 'options' %> 

    <div class="resizable-svg" ng-class="['shift-' + isShift, 'mode-' + G_Mode, 'ctrl-' + isCtrlKeyDown]">

    <svg id="main" ng-class="[mode,'shift-' + isShift, 'mode-' + G_Mode, 'ctrl-' + isCtrlKeyDown]" xmlns:xlink="http://www.w3.org/1999/xlink" />

    </div>
    <%= render 'room' %>
  </div>

  

</div>
