<div keepscrolltop class="home" ng-controller="FloorMapCtrl">
  <div ng-show="loading" class="loading"><img alt="chargement..."></div>
  <div ng-show="!loading">
    <div class="jumbotron-surfy"  style="background-color: {{bgColor[buildingId]}}">
      <h2><a href="{{floorJson.building.url}}">{{floorJson.building.name}}</a></h2>
      <h2>> <a href="{{floorJson.url}}">{{floorJson.name}}</a></h2>
    </div>
    <div ng-repeat="buildingId in buildings">
    

      <ul id="myTabBuilding" class="nav nav-pills" role="tablist" style="border:1px solid {{bgColor[buildingId]}}" >
        <li class="active"><a href="#tab-filters" ng-click="tabHeaderClick('filters', buildingId);" data-toggle="tab">Filtres</a></li>
        <li ><a href="#tab-charts"  ng-click="tabHeaderClick('charts', buildingId);" data-toggle="tab">Rapports</a></li>
        <li ><a href="#tab-display-text"  ng-click="tabHeaderClick('display-text', buildingId);" data-toggle="tab">Afficher dans les pièces</a></li>
      </ul>
      <div class="tab-content tab-content-main" style="border-color:{{bgColor[buildingId]}}">
        <div id="tab-filters" class="tab-pane active">
          <%= render '/floors/filters' %>
        </div>
        <div id="tab-charts"  class="tab-pane">
          <%= render '/floors/charts' %>
        </div>
        <div id="tab-display-text"  class="tab-pane">
          <%= render '/floors/display_text' %>
        </div>
      </div>


    <%= render '/floors/map_editor' %>
    <%= render 'room' %>
    </div>
  </div>
</div>
