<script>
 var G_RootJson = <%=@json.html_safe%>
 var G_Mode = '<%= @G_Mode %>'
 var G_Room = <%=@G_Room.html_safe%>

</script>
<div >
  <h1>{{root.name}}</h1>

  <%=  render 'room_type_filter' %> 
  
  <div class="home" ng-controller="GeoPCtrl">
    <%=  render 'options' %> 

    <canvas id="canvas-0"></canvas>
    <svg id="main" ng-class="[mode, 'shift-' + isShift, 'mode-' + G_Mode]" xmlns:xlink="http://www.w3.org/1999/xlink" />
    <%= render 'room' %>
  </div>

  

</div>
