<div ng-controller="OrganizationCtrl"  ng-cloak>
  <div class="jumbotron-surfy" style="background-color: {{o.color}}">
    <h2>{{o.name}}</h2>
  </div>
  <h3 ng-if="noRoomsForOrganization === true">Il n'y a pas de pièce disponible pour cette organisation.</h3>
  <ul id="myTab-0" class="nav nav-pills nav-justified" role="tablist" >
    <li ng-repeat="buildingId in buildings" ng-class="{active : $first}" style="background-color: {{buildingsById[buildingId].color}}" ng-init="init(buildingId)" id="tab-oraganization-{{buildingId}}">
      <a data-toggle="tab" href="#b{{buildingId}}">{{buildingsById[buildingId].name}}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" ng-class="{active : $first, in : $first}" id="b{{buildingId}}" ng-repeat="buildingId in buildings">
      <ul class="nav nav-pills" role="tablist" style="border:1px solid {{bgColor[buildingId]}}">
        <%= render '/common/tabs_information' %>
        <%= render '/common/tabs_common' %>
      </ul>
      <div class="tab-content tab-content-main" style="border-color:{{bgColor[buildingId]}}">
        <div id="tab-information-{{buildingId}}"  class="tab-pane active">
          <%= render '/organizations/information' %>
        </div>
        <%= render '/common/tabs_common.content' %>
      </div>
      <%=  render '/floors/map_editor' %>
      <hr>
    </div>
  </div>
  <%=  render '/floors/room' %>
</div>
