<div ng-controller="OrganizationCtrl">
  <div class="jumbotron-surfy" style="background-color: {{o.color}}">
    <h2>{{o.name}}</h2>
  </div>
  <ul id="myTab-0" class="nav nav-pills nav-justified" role="tablist" >
    <li ng-repeat="buildingId in buildings" ng-class="{active : $first}" style="background-color: {{buildingsById[buildingId].color}}" ng-init="init(buildingId)" id="tab-oraganization-{{buildingId}}">
      <a data-toggle="tab" href="#b{{buildingId}}">{{buildingsById[buildingId].name}}</a>
    </li>
  </ul>
  <div class="tab-content" >
    <div class="tab-pane fade" ng-class="{active : $first, in : $first}" id="b{{buildingId}}" ng-repeat="buildingId in buildings">
      <ul id="myTabBuilding" class="nav nav-pills" role="tablist" style="border:1px solid {{bgColor[buildingId]}}" >
        <li class="active"><a data-toggle="tab"  ng-click="tabHeaderClick('organization_information', buildingId);" href="#tab-information-{{buildingId}}">Information</a></li>
        <li ><a href="#tab-filters-{{buildingId}}" ng-click="tabHeaderClick('filters', buildingId);" data-toggle="tab">Filtres</a></li>
        <li ><a href="#tab-charts-{{buildingId}}"  ng-click="tabHeaderClick('charts', buildingId);" data-toggle="tab">Rapports</a></li>
        <li ><a href="#tab-display-text-{{buildingId}}"  ng-click="tabHeaderClick('display-text', buildingId);" data-toggle="tab">Afficher dans les pièces</a></li>
      </ul>
      <div class="tab-content tab-content-main" style="border-color:{{bgColor[buildingId]}}">
        <div id="tab-information-{{buildingId}}"  class="tab-pane active">
          <%= render '/organizations/information' %>
        </div>
        <div id="tab-filters-{{buildingId}}" class="tab-pane">
          <%= render '/floors/filters' %>
        </div>
        <div id="tab-charts-{{buildingId}}"  class="tab-pane">
          <%= render '/floors/charts' %>
        </div>
        <div id="tab-display-text-{{buildingId}}"  class="tab-pane">
          <%= render '/floors/display_text' %>
        </div>
      </div>

      <div id="loading" ng-if="floors.length === 0">Chargement des plans des étages...</div>
      <%=  render '/floors/map_editor' %>
      <hr>
    </div>
  </div>
  <%=  render '/floors/room' %>
</div>
