<!DOCTYPE html>
<html ng-app='GeoP' id='ng-app'>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<%= render '/layouts/ios' %>
		<title><%= !@global_company.nil? && @global_company.name%> / Surfy.pro / v0.7.02b</title>
		<%= include_gon %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
	</head>
	<body id="body-container">
		<div  ng-controller="BodyCtrl">
			<%= render 'layouts/notifications' %>
			<%= render 'layouts/right_popup' %>
			<%= render 'layouts/menu_top' %>
			<div class="container-fluid main-container">
				<%= yield %>
			</div>
		</div>
		<%= render 'layouts/analytics' %>
		<%= render 'layouts/ios_links' %>
	</body>
</html>
