<!DOCTYPE html>
<html ng-app='GeoP' id='ng-app'>
<head>
<title>GeoP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<%= csrf_meta_tags %>

<script>
 var G_Company = <%=@global_company_json.html_safe%>
 var G_RoomTypes = <%= @global_room_types.html_safe%>
</script>

</head>
<body keepscrolltop>

  <%= render 'layouts/notifications' %>
  <%= render 'layouts/menu_top' %>

  <div class="container-fluid main-container">
    <%= yield %>
  </div>

</body>
</html>
